{% extends 'app.html' %}

{% block body %}
{% with base_url='/stock/product-category' %}
<div class="content p-3">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách nhóm sản phẩm</h6>
    </div>
    <div class="card-body">
      {% if user|has_permission:"stock.change_productcategory" %}
        <div class="mb-2">
          <a href='{{ base_url }}/create' class="btn btn-sm btn-primary">
            <i class="fas fa-plus text-white-50"></i> Thêm nhóm sản phẩm
          </a>
        </div>
      {% endif %}
      <div id="table-container" class="table-responsive1">
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
  createDataTable("#table-container", "{{base_url}}/search", {
    renders: {
      col3: function(data, row) {
        return (`
          <div class="dropdown">
            <a href='javascript:void(0)' data-bs-toggle="dropdown">
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="view-detail/${row.pk}">
                Xem thông tin
              </a>

              {% if user|has_permission:"stock.change_productcategory" %}
                <a class="dropdown-item" href="update/${row.pk}">
                  Cập nhật
                </a>
              {% endif %}

              {% if user|has_permission:"stock.delete_productcategory" %}
                ${row.status_id == 'DRAFT' ?
                  `<a class="dropdown-item" href="javascript:deleteItem(${ row.pk })">
                    Xóa
                  </a>` : ''
                }
              {% endif %}
            </div>
          </div>
        `)
      }
    }
  });
});

async function deleteItem(id) {
  if (confirm("Bạn có muốn xóa nhóm sản phẩm này ?")) {
    var resp = await $_post(`{{base_url}}/delete/${id}`);
    if (resp.ok) {
      location.reload();
    } else {
      alert("Lỗi xảy ra");
    }
  }
}

</script>
{% endwith %}
{% endblock %}